<p>Hello,</p>

<p>You have received a request from <%= current_user.email %> for ownership of <%= @restaurant.name %>. Please access the admin page to approve or deny this request.

<p>Cheers,</p>
<p>Menuize Team</p>
